{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
		<br>
		<h2>About</h2>
		<br>
		<p>Hello! My name is Geo Min, and I'm a senior Computer Science major at Virginia Tech.</p>
		<br>
		<p>I created this application through Python/Flask and Spotify API, and it is hosted on Google Cloud Platform. You can check out my GitHub repository <a href="https://github.com/geomin76/spotifyforyou" target="_blank">here</a>.</p>
		<br>
		<p>If something went wrong in the application or you have any questions, send me an email<a href="mailto:geomin76@gmail.com?Subject=Spotify%20For%20You" target="_blank"> here.</a></p>
		<br>
		<a href="https://twitter.com/geomin76" target="_blank"><img src="{{ url_for('static', filename='twitter.png' ) }}" style="width:50px; height:50px;"></a>
		<a href="https://www.instagram.com/geomin76/" target="_blank"><img src="{{ url_for('static', filename='insta.svg' ) }}" style="width:50px; height:40px;"></a>
		<p>Cheers!</p>
	</div>
</div>
{% endblock %}