<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotify for you!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="row" id="divElement">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
		<div class="jumbotron text-center">
			<h1 class="card-title h1">Spotify For You</h1>
			<p>I made this fun little project to test Spotify APIs.</p>
			<hr class="my-4 rgba-white-light">
			<a class="btn btn-primary btn-lg" href="/authorize" role="button">Click here to begin!</a>
		</div>
	</div>
</div>
</body>
</html>