<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotify for you!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
	<script src="/static/js/script.js"></script>
</head>
<body>
<div>
	<h1>Spotify For You</h1>
	<p>I made this fun little project to test Spotify APIs.</p>
	<p><a href="/authorize">Click here to begin!</a></p>
</div>
</body>
</html>